
.bg-image {
    background-image: url('/public/assets/img/blue.jpg');
    background-size: cover; /* Cela permet de s'assurer que l'image couvre tout l'écran */
    background-position: center; /* Cela centre l'image */

  } 

/* CSS pour le div bleu avec du texte */
.banner {
    background-color: #CAF0F8;
    color: #023E8A;
    padding: 50px 250px;
    text-align: center;
    font-size: 3em;
    margin: 100px 0;
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    margin: 0 100px;
  }
  
  
  /* CSS pour les boutons de connexion et d'inscription */
  .button {
    grid-column: span 2;
    display: inline-block;
    background-color: #90E0EF;
    color: #0077B6;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
  }
  
  .button:last-child {
    margin-right: 0;
  }

  .table-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    max-width: 100%;
    overflow-x: auto;
    padding: 0 100px;
}

  .full-width-table {
    width: 100%;
    border-collapse: collapse; 
    background-color: #CAF0F8;
}

.full-width-table th, .full-width-table td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

.action-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
}

.modal {
    display: none; /*Popup invisible par défaut*/
    position: fixed; /* Rester en place */
    z-index: 1; /* Se situer au-dessus des autres éléments */
    left: 0;
    top: 0;
    width: 100%; /* Largeur totale */
    height: 100%; /* Hauteur totale */
    overflow: auto; /* Permettre le défilement si nécessaire */
    background-color: rgba(0,0,0,0.4); /* Noir avec un peu de transparence */
}

/* Contenu du Popup */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% du haut, centré horizontalement */
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* Largeur du contenu */
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.modal-button {
    background-color: #90E0EF;
    color: black;
    padding: 10px 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    width: 60%;
  }

/* Bouton de fermeture du popup */
.close {
    background-color: #0077B6;
    color: black;
    padding: 10px 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    margin-top: auto;

}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

  