.bg-image {
  background-image: url('/public/assets/img/blue.jpg');
  background-size: cover; /* Cela permet de s'assurer que l'image couvre tout l'écran */
  background-position: center; /* Cela centre l'image */

}


.container {
  background-color: #fefefe;
  margin: 5% auto; /* 5% du haut, centré horizontalement */
  padding: 20px;
  border: 1px solid #888;
  width: 70%; /* Largeur du contenu */
  
}

.container-select {
  margin: 15px;
  font-size: 1.3rem;
}

.select {
  font-size: 1rem;
  color: black;
  background-color: #CAF0F8;
  border: 2px solid #ccc;
  padding: 10px;
  margin: 10px;
}

.container-interaction {
    background-color: #CAF0F8;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    margin: 5px;
}

.interaction-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.text-interaction {
  font-size: 1.2rem;
  grid-column: span 1;
}

.container-note-button {
  display: flex;
  justify-content:  space-between;
}


.more-button {
  background-color: #0077B6;
  padding:2px 4px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}

.container-arrow {
  margin: 5px;
  text-align: center;
}

.modal {
  display: none; /*Popup invisible par défaut*/
  position: fixed; /* Rester en place */
  z-index: 1; /* Se situer au-dessus des autres éléments */
  left: 0;
  top: 0;
  width: 100%; /* Largeur totale */
  height: 100%; /* Hauteur totale */
  overflow: auto; /* Permettre le défilement si nécessaire */
  background-color: rgba(0,0,0,0.4); /* Noir avec un peu de transparence */
}

/* Contenu du Popup */
.modal-content {
  background-color: #fefefe;
  margin: 7%  auto; /* 15% du haut, centré horizontalement */
  padding: 20px;
  border: 1px solid #888;
  width: 70%; /* Largeur du contenu */
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

/* Bouton de fermeture du popup */
.close {
  background-color: #0077B6;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  margin-top: auto;

}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  font-size: 1.3rem;
  margin: 10px;
}

.modal-text {
  margin-left: 10px;
  overflow-wrap: break-word;
}
.close-container {
  text-align: center;
  margin-top: auto;
}
