.bg-image {
  background-image: url('/public/assets/img/blue.jpg');
  background-size: cover; /* Cela permet de s'assurer que l'image couvre tout l'écran */
  background-position: center; /* Cela centre l'image */

}


.container {
  background-color: #fefefe;
  margin: 5% auto; /* 5% du haut, centré horizontalement */
  padding: 20px;
  border: 1px solid #888;
  width: 70%; /* Largeur du contenu */
  
}

.container-select {
  margin: 15px;
  font-size: 1.3rem;
  margin-left: 25px;
}

.mail-select {
  font-size: 1rem;
  color: black;
  background-color: #CAF0F8;
  border: 2px solid #ccc;
  padding: 10px;
  margin: 10px;
}

.container-mail-button {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    margin: 0 20px;
}

.container-mail {
    grid-column: span 9;
    background-color: #48CAE4;
    padding: 10px;
}

.email-heading {
  font-size: 1.5rem;
  padding: 10px ;
}

.email-subject {
  text-decoration: underline;
}

.email-body {
  font-size: 1rem;
}

.email-body-content {
  font-size: 1rem;
  padding-left:15px;
  overflow-wrap: break-word;
}

.button {
  grid-column: span 3;
  display: inline-block;
  background-color: #0077B6;
  color: black;
  padding: 5px 10px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  margin: auto auto 20px auto;
  justify-self: end;
}